<% include header.ejs %>

<% if ( params.url == "items") { %>//does not throw error if property not defined
  <div id="thisisaid"></div>         
<% } %>



  <% include items.ejs %>
  <% include customers.ejs %>


<% include footer.ejs %>
