<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= siteHeader %>
  </title>
  <link rel="icon" href="/images/beverly_wigs_logo.png">
  <!-- Fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Icon stroke -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

  <link rel="stylesheet" href="/css/global.css">
</head>

<body class="loginPage">

  <img class="loginImage" src="/images/beverly_wigs_logo_vertical.png" alt="beverly-wigs" />

  <div class="container">

    <div class="row">
      <form class="col-md-3 col-9 card loginForm">
        <div class="text-center" style="font-size: 35px">Login</div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
        <a class="pt-4" href="/signup">Signup</a>

      </form>
    </div>

  </div>

  <% include footer.ejs %>

    <script>

      $('form').submit(function () {
        $.ajax({
          url: '/login',
          type: 'POST',
          data: $(this).serialize(),
          success: function (res) {
            console.log('res', res)
            if (res.success) {
              localStorage.clear();
              localStorage.setItem('token', res.token);
              localStorage.setItem('firstname', res.firstname);
              window.location.href = `/dashboard?secret_token=${res.token}`
            } else {
              window.location.href = '/'
            }
            //this is a global variable
            var token = localStorage.getItem('token');
            var firstname = localStorage.getItem('firstname');
          }

        })

      });

    </script>