<nav class="navbarTop navbar navbar-expand-lg navbar-light bg-light">


  <div class="container">
    <!-- Use any element to open the sidenav -->
    <li id="sidenavToggle" class="navbar-brand">
      <button class="btn btn-default" onclick="openNav()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </li>

    <li class="navbar-brand ml-3">
      <%= pageTitle || '' %>
    </li>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0">
        <ul class=" navbar-nav mr-auto my-2 my-sm-0">
          <li class="nav-item">
              <div class="nav-link disabled userfirstname"></div>
          </li>
          <li class="nav-item">
              <a class="nav-link logout">Logout</a>
          </li>
        </ul>
      </div>

    </div>


  </div>


</nav>