<div id="mySidenav" class="sidenav">

  <li class="navbar-brand">
    <a href="/dashboard">
      <img src="/images/beverly_wigs_logo.png" width="50" height="45" />
    </a>
  </li>
  <a href="/dashboard" class=" <% if(pageTitle.toLowerCase()=='dashboard' ) { %> active
    <% } %>">Dashboard</a>
  <a href="/items" class=" <% if(pageTitle.toLowerCase()=='items' ) { %> active
    <% } %>">Items</a>
  <a href="/customers" class="<% if(pageTitle.toLowerCase()=='customers' ) { %> active
    <% } %>">Customers</a>
  <a href="/reservations" class=" <% if(pageTitle.toLowerCase()=='reservations' ) { %> active
      <% } %>">Orders</a>
  <a href="/consigments" class=" <% if(pageTitle.toLowerCase()=='consigments' ) { %> active
    <% } %>">Consigments</a>
  <a href="/invoices" class=" <% if(pageTitle.toLowerCase()=='invoices' ) { %> active
    <% } %>">Invoices</a>
  <a href="/admin" class="mb-2 <% if(pageTitle.toLowerCase()=='admin' ) { %> active
    <% } %>" style="position: absolute;bottom:0;color:#757576">Admin</a>
</div>