<div id="mySidenav" class="sidenav">
  
  <li class="navbar-brand" ></li>
</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/items">Items</a>
  <a href="/customers">Customers</a>
  <a href="/consigments">Consigments</a>
  <a href="/reservations">Reservations</a>
  <a href="/invoices">Invoices</a>
</div>