<nav class="navbarTop navbar navbar-expand-lg navbar-light bg-light">



<div class="container">
<!-- Use any element to open the sidenav -->
<li id="sidenavToggle" class="navbar-brand"><button class="btn btn-default" onclick="openNav()"><i class="fas fa-angle-left fa-lg"></i></button></li>

  <li class="navbar-brand"><%= pageTitle || '' %></li>

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       
      </li>
    </ul>

  </div>
  
  
  </div>
  
  
</nav>
