html{
  height: 100%;
  width: 100%;
}


:root {
  --blue: #1997c6;
}

/* ===================================================
  ==============   special css aplicable to the entire project   =============
  ====================================================== */

body {
  color: #202020;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  
  /* animation */
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.colors {
  padding: 50px;
}

.text {
  color: #cfd2da;
}

.text-hover,
.text-white {
  color: #ffffff;
}

.text-medium-dark {
  color: #999;
}

.text-dark {
  color: #51586a;
}

.hr-line {
  border-bottom: 1px solid #1997c6;
  margin-bottom: 2rem;
  margin-top: 0px;
}

.f-0-8 {
  font-size: 0.8rem;
}

.f-0-9 {
  font-size: 0.9rem;
}

.f-1 {
  font-size: 1rem;
}

.f-1-2 {
  font-size: 1.2rem;
}

.f-1-3 {
  font-size: 1.3rem;
}

.f-1-5 {
  font-size: 1.5rem;
}

.f-2 {
  font-size: 2rem;
}

.f-3 {
  font-size: 3rem;
}

.f-4 {
  font-size: 4rem;
}

.f-5 {
  font-size: 5rem;
}

.f-6 {
  font-size: 6rem;
}

/* green */

.green {
  color: #1BC98E;
}

.green-background {
  background-color: #1BC98E;
  border-color: #1BC98E;
}

.green-background:hover {
  background-color: #15a071;
  border-color: #128c63;
}

/* red */

.red {
  color: #E64759;
}

.red-background {
  background-color: #E64759;
  border-color: #E64759;
}

.red-background:hover {
  background-color: #b83847;
  border-color: #a1313e;
}

/* purple */

.purple {
  color: #9F86FF;
}

.purple-background {
  background-color: #9F86FF;
  border-color: #9F86FF;
}

.purple-background:hover {
  background-color: #7f6bcc;
  border-color: #6f5db2;
}

/* yellow */

.yellow {
  color: #E4D836;
}

.yellow-background {
  background-color: #E4D836;
  border-color: #E4D836;
}

.yellow-background:hover {
  background-color: #b6ac2b;
  border-color: #9f9725;
}

/* blue */

.blue {
  color: #1997c6;
}

.blue-background {
  background-color: #1997c6;
  border-color: #1997c6;
}

.blue-background:hover {
  background-color: #13779E;
  border-color: #11698a;
}

/* ===================================================
  =======================   end  =======================
  ====================================================== */

.page-title {
  font-weight: 550;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbarTop {
  z-index: 100;
}

/*///////////////////
  Pagination
///////////////////*/
  
.paginator {
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  font-size: 15px;
}

.paginator>a {
  border-right: 1px solid #DEE1E5;
  border-top: 1px solid #DEE1E5;
  border-bottom: 1px solid #DEE1E5;
  padding: 6px 11px;
  color: #457AFB;
}

.paginator>a:first-child {
  border: 1px solid #DEE1E5;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.paginator>a:last-child {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.paginator>a.paginator-current{
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/*///////////////////
  Footer
///////////////////*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F9FA;
  color: white;
  text-align: center;
  height: 80px;
  margin-top: 100px;
  position: relative;
}

/*///////////////////
  Table
///////////////////*/
table>thead>tr{
  font-size: 15px;
}
table>tbody{
  font-size: 15px;
}

/*///////////////////
  Login
///////////////////*/
.loginPage{
  background-size: 70% 80%, cover;
  background-color: #FC80A5;
}

.loginForm{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
} 

